@charset "utf-8";
/*detail.css - 디테일 페이지 CSS*/

* {
/*    outline: 1px dashed red;*/
}

.hader_area {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}




#dt_main_wrap {
    width: 100%;
}

#detail_content_wrap {
    width: 100%;

}

#tumb_info_wrap {
    background-color: #f5f5f5;
    height: 740px;
    /*임의로 준 크기*/
}

.tumb_info_area {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.page_scut h2{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 14px 0;
}


.tumb_info_content {
    display: flex;
}

.tumb_info_content > div {
    width: 50%;
}

.preview_wrap {
    display: flex;
    justify-content: center;
}

.preview_thumbnail {
    margin-right: 4%;
}

.preview_thumbnail li {
    margin-top: 50px;
}

.preview_thumbnail li a {
    display: block;
    width: 70px;
    height: 70px;
}

.preview_thumbnail li:nth-child(1) a {
    background: url(../images/sofa_table/preview/preview_02.jpg) no-repeat center / cover;
}

.preview_thumbnail li:nth-child(2) a {
    background: url(../images/sofa_table/preview/preview_03.jpg) no-repeat center / cover;
}

.preview_thumbnail li:nth-child(3) a {
    background: url(../images/sofa_table/preview/preview_04.png) no-repeat center / cover;
}

.main_preview {
    width: 490px;
    height: 490px;
    background: url(../images/sofa_table/preview/preview_01.jpg) no-repeat center / cover;
}


/*******************/
.buy_info_wrap {
    width: 100%;
}

.product_kind {
    font-size: 1.5rem;
    font-weight: 500;
}

.product_tit {
    font-size: 2.5rem;
    font-weight: 500;
}

.buy_price {
    font-size: 2.125rem;
    font-weight: 600;
    position: relative;
    line-height: 70px;
}

.buy_price span {
    color: #ABBC89;
    font-weight: 500;
}
.total_price.buy_price::after{
    display: none;
}

.buy_price::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 70px;
    height: 2px;
    background-color: #2d2d2d;
}

.product_txt {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 16px;
    line-height: 20px;

}

.color {
    padding: 30px 0;
    font-size: 2.25rem;
    font-weight: 500;
}

.color small {
    color: #979797;
}

.color_preview {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 2%;
    margin-bottom: 20px;
}

.color_preview span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: url(../images/sofa_table/color_deteil.jpg) no-repeat center / cover;
}

.sale_label {
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 24px;
    color: #7A8556;
    border: 3px solid #7A8556;
    margin-bottom: 4%;
}

.amont_buy_btn_wrap {
    width: 100%;
    padding-top: 4%;
    border-top: 1px solid #E2E2E2;
    display: flex;
}

.amont_updown {
    margin-right: 2%;
}

.amont_updown dl,
.amont_buy_btn_wrap button a {
    height: 46px;
}


.amont_updown dl {
    width: 110px;
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #e6e6e6;
}

.amont_updown dt,
.amont_updown dd {
    flex: 1;
    text-align: center;
    line-height: 46px;
}

.amont_updown dt {
    border-right: 1px solid #e6e6e6;
}

.opt_btns {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.opt_btns a {
    height: 50%;
    line-height: 23px;
}

.opt_btns a:first-child {
    border-bottom: 1px solid #e6e6e6;
}

.amont_buy_btn_wrap button {
    border: 0;
    background: none;
    margin-left: 20px;
}

.amont_buy_btn_wrap button a {
    display: block;
    font-family: 'Khand', sans-serif;
    width: 200px;
    background-color: #7A8556;
    border-radius: 6px;
    line-height: 46px;
    color: #fff;
    font-size: 1.875rem;
}

.addcart {
    display: block;
    padding: 10px 0;
    font-size: 1.625rem;
}

.addcart span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2d2d2d;
    vertical-align: middle;
    margin-right: 10px;
}





/***상세페이지***/




#detail_page_wrap {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.page_wrap_txt {
    text-align: center;
    font-size: 3.75rem;
    font-weight: 500;
    position: relative;
    width: 300px;
    margin: 80px auto;
}

.page_wrap_txt::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    width: 360px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #2d2d2d;
}

.dt_img1_wrap {
    position: relative;
}

.dt_img1 {
    width: 800px;
    height: 900px;
    background: url(../images/sofa_table/dt_page_01.jpg) no-repeat center / cover;
    margin: 0 0 0 auto;
}

.dt_img1_tbox {
    position: absolute;
    top: 20%;
    left: 16%;
}

.dt_img1_tbox h3 {
    font-size: 7.25rem;
    font-weight: 500;
    margin-bottom: 100px;
}

.dt_img1_tbox p {
    font-size: 2.375rem;
    font-weight: 300;
    line-height: 80px;
    letter-spacing: 8px;
}


.dt_img2_wrap {
    display: flex;
}

.dt_img2 {
    width: 400px;
    height: 600px;
    background: url(../images/sofa_table/edge_detail.jpg) no-repeat center / cover;
    margin-left: 10%;
}

.dt_img2_tbox {
    padding-top: 6%;
    margin-left: 4%;
}

.dt_img2_tbox img {
    width: 6%;
}

.dt_img2_tbox p {
    font-size: 1.875rem;
    line-height: 70px;
}

.dt_img3_wrap {
    margin-top: 280px;
    width: 100%;
    height: 800px;
    background: url(../images/sofa_table/dt_page_02.jpg) no-repeat center / cover;
    position: relative;
}

.img3_txt_box {
    position: absolute;
    width: 94%;
    height: 90%;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.28);
    text-align: center;
    border: 6px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img3_txt_box h4 {
    width: 700px;
    margin: 0 auto;
    font-size: 6.875rem;
    font-weight: 600;
    line-height: 100px;
    position: relative;
}

.img3_txt_box h4::before,
.img3_txt_box h4::after {
    position: absolute;
    content: '';
    top: 50%;
    height: 2px;
    width: 110px;
    background-color: #fff;
}

.img3_txt_box h4::before {
    left: 0;
}

.img3_txt_box h4::after {
    right: 0;
}

.img3_txt_box h5 {
    font-size: 2.375rem;
    font-weight: 500;
    line-height: 30px;
}

.dt_img4_wrap {
    position: relative;
    height: 2000px;
    /*임의로 준 크기*/
}

.Heritage {
    margin-top: 60px;
    text-align: right;
    font-size: 4rem;
    font-weight: 500;
    line-height: 70px;
    position: relative;
    padding-top: 30px;
}

.Heritage::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100px;
    height: 3px;
    background-color: #2d2d2d;
}


.img4_fir,
.img4_sec,
.img4_thi {
    position: absolute;
}

.bg_design {
    position: absolute;
    width: 600px;
    height: 720px;
    background-color: #E8E8E8;
    right: 10%;
    top: 43%;
}

.img4_fir {
    width: 640px;
    height: 380px;
    background: url(../images/sofa_table/detail_01.jpg) no-repeat center / cover;
    left: 0;
    top: 20%;
}

.img4_sec {
    width: 500px;
    height: 660px;
    background: url(../images/sofa_table/detail_02.jpg) no-repeat center / cover;
    right: 4%;
    top: 40%;
}

.img4_thi {
    width: 700px;
    height: 540px;
    background: url(../images/sofa_table/sofa_table_02.jpg) no-repeat center / cover;
    left: 3%;
    bottom: 8%;
}

.dt_img5_wrap {
    text-align: center;
    width: 100%;
    position: relative;
    height: 800px;
    background: url(../images/sofa_table/dt_page_bg.jpg) no-repeat center / cover;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.49);

}

.dt_img5_wrap > big {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 15%;
    font-size: 16.25rem;
    font-weight: 400;
    transform: translateX(-50%);
}

.dt_img5_wrap big > span {
    display: inline-block;
    width: 640px;
}

.dt_img5_wrap h3 {
    padding-top: 200px;
    font-size: 1.5rem;

}

.dt_img5_wrap h3 > big {
    display: block;
    font-size: 3rem;
    line-height: 40px;
}


.img_5 {
    position: absolute;
    left: 50%;
    top: 74%;
    width: 80%;
    height: 700px;
    background: #fff url(../images/sofa_table/sofa_table_01.png) no-repeat center / cover;
    transform: translateX(-50%);
    z-index: 1;
}

.info_color_wrap {
    position: relative;
    width: 70%;
    margin: 700px auto 0 auto;
    height: 600px;
    /*임시로 준 높이*/
}

.info_color_wrap > div {
    border: 4px solid #2d2d2d;
    position: absolute;
    background-color: #fff;
    padding: 3%;
}

.info_color_tit {
    font-size: 4rem;
    font-weight: 500;
    position: relative;
}

.info_color_tit::after {
    position: absolute;
    content: '';
    bottom: 30%;
    height: 2px;
    background-color: #4d4d4d;
}

.info_wrap .info_color_tit::after {
    left: 38%;
    width: 50%;
}

.color_wrap .info_color_tit::after {
    left: 32%;
    width: 60%;
}

.info_color_list li{
    font-size: 1.5rem;
}

.info_color_list li big{
    font-size: 1.75rem;
    margin-right: 20px;
}

.info_material{
    padding-left:10%;
}


.info_wrap {
    width: 800px;
    height: 500px;
}

.color_wrap {
    width: 540px;
    height: 400px;
    right: 0;
    bottom: 0;
}
.color_pre_img{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 140px;
    height: 140px;
    background: url(../images/sofa_table/color_deteil.jpg) no-repeat center / cover;
}

.precautions {
    text-align: center;
    margin: 80px 0 100px 0;
}
